div(class='mx-auto' style='width: 80%')

    div(class='mx-auto mt-4 ml-4')
        h4 Über MentionIT

        h6 Arbeitsname:
        p(class='text-left font-weight-normal') mentionIT (to mention something)

        h6 Motivation:
        p(class='text-left font-weight-normal') Ich persönlich komme oft in die Verlegenheit, mir Notizen in einem gewissen Kontext machen zu wollen und sie immer verfügbar zu haben. Häufig gestaltet sich dies kompliziert, da zum späteren Verständnis weitere Informationen erfasst werden müssen. Eine Lösung könnte sein, statt einer einfachen textlichen Nachricht, diese z.B. auch mit einem Bild, einer Positionsangabe oder Sprachnachricht kombinierbar und für einen definierten Personenkreis einfach und zentral verfügbar zu machen.

        h6 Funktionsbeschreibung:
        p(class='text-left font-weight-normal') Ein Nutzer kann Einträge erzeugen, einsehen, ändern und löschen. Bei der Gestaltung ist er hierbei bis auf eine Überschrift frei in der Kombination der verfügbaren Bestandteile Bild, Text und Tonaufnahme.
        p(class='text-left font-weight-normal') Verbindet sich die Anwendung mit dem Internet, werden die vorhandenen Einträge vom Server abgerufen und deren Überschriften angezeigt. Wird ein Eintrag ausgewählt, ist er für die Bearbeitung frei. Die Anwendung soll sich responsive verhalten.
        p(class='text-left font-weight-normal') Wird die Verbindung unterbrochen, können neue Einträge zwar angelegt, vorhandene jedoch nur bedingt aktualisiert werden. Nach der Wiederherstellung der Verbindung wird eine Synchronisation durchgeführt werden. Die Anwendung zeigt an, wie der aktuelle Verbindungsstatus ist.

        h6 Verwendete Techniken und Frameworks:
        ul
            li
                p(class='text-left font-weight-normal') Serverseitig Node.js mit Express
            li
                p(class='text-left font-weight-normal') Datenbankseitig MongoDB
            li
                p(class='text-left font-weight-normal') Clientseitig Bootstrap als CSS-Framework, IndexedD, Web Worker, Browser Cache
            li
                p(class='text-left font-weight-normal') HTML5, CSS3, JavaScriptB, JQuery

        br
        p(class='text-left font-weight-normal') Die besondere Herausforderung (für mich) wird hierbei neben den neuen Thematiken Nodes.js und MongoDB der Einsatz der bisher unbekannten Frameworks und die Einarbeitung hierin sein.

        br
        br