div(class='mx-auto' style='width: 80%')

    form(class='needs-validation was-validated' novalidate id='addMentionForm' method='post' action='/mention')
        div(class='form-group ml-4')
            label(for='addCaption') Thema
            input(class='form-control' id='addCaption' type="text" name="addCaption" maxlength=250 required='true' autofocus='true')
            div(class='valid-feedback') OK
            div(class='invalid-feedback') Geben Sie ein Thema an

        div(class='form-group ml-4')
            label(for='addText') Erinnerung
            textarea(class='form-control' id='addText' name='addText' form='addMentionForm' rows=10 maxlength=1000)
            div(class='valid-feedback') OK
            div(class='invalid-feedback') Der Text ist zu lang

        button(type='submit' class='btn btn-primary ml-4 mt-4') Anlegen
        button(type='reset' class='btn btn-secondary ml-4 mt-4') Felder löschen...
        button(type='button' class='btn btn-secondary ml-4 mt-4' onclick='openHome()') Schließen